*::-webkit-input-placeholder {
  color: #000;
  opacity: 1;
}
*:-moz-placeholder {
  color: #000;
  opacity: 1;
}
*::-moz-placeholder {
  color: #000;
  opacity: 1;
}
*:-ms-input-placeholder {
  color: #000;
  opacity: 1;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Inter";
  padding: 0;
  margin: 0;
  background-color: #fff;
  color: #2b3233;
}
button {
  cursor: pointer;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
a,
button,
input,
img {
  transition: all 0.3s;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-weight: normal;
}
.wrapper {
  overflow: hidden;
}
a {
  text-decoration: none;
  outline: none;
  color: #2b3233;
}
* {
  outline: none !important;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style-type: none;
  outline: none;
}
img {
  outline: none;
  display: block;
}
p {
  padding: 0;
  margin: 0;
}
form {
  margin: 0;
}

.container {
  max-width: 1320px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

header {
  margin-top: 40px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  width: 90px;
  height: 70px;
  overflow: hidden;
}

.header__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header__info {
  display: flex;
  align-items: center;
  gap: 210px;
}

.header__contacts {
  display: flex;
  align-items: center;
  gap: 38px;
}

.header__contact {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: #2b3233;
}

.header__btn {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: "Raleway";
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: #2b3233;
  padding: 16px 22px;
  border: 2px solid #219096;
  width: fit-content;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.4s all;
}

.header__btn:hover {
  background: #e9fafb;
  box-shadow: 0px 8px 10px 0px rgba(33, 144, 150, 0.01),
    0px 7px 10px 0px rgba(33, 144, 150, 0.03),
    0px 2px 10px 0px rgba(33, 144, 150, 0.04),
    0px 5px 20px 0px rgba(33, 144, 150, 0.05);
}

.banner {
  margin: 90px 0 170px 0;
}

.banner__info {
  position: relative;
}

.banner__image {
  width: 726px;
  height: 608px;
  overflow: hidden;
  position: absolute;
  top: 66px;
  right: -100px;
}

.banner__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner__info h1 {
  color: #2b3233;
  font-family: "Raleway";
  font-size: 50px;
  font-weight: 700;
  line-height: 120%;
  max-width: 850px;
}

.banner__info h2 {
  margin-top: 22px;
  color: #2b3233;
  font-family: "Inter";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.banner__btn {
  margin-top: 120px;
}

.btn__main {
  padding: 30px 60px;
  border-radius: 60px;
  background-color: #f88f35;
  color: #fff;
  font-family: "Raleway";
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  transition: 0.4s all;
  box-shadow: 0px 74px 21px 0px rgba(248, 143, 53, 0),
    0px 47px 19px 0px rgba(248, 143, 53, 0.01),
    0px 27px 16px 0px rgba(248, 143, 53, 0.05),
    0px 12px 12px 0px rgba(248, 143, 53, 0.09),
    0px 3px 7px 0px rgba(248, 143, 53, 0.1);
}

.btn__main:hover {
  background-color: #ea8127;
  box-shadow: 0px 74px 21px 0px rgba(248, 143, 53, 0),
    0px 47px 19px 0px rgba(248, 143, 53, 0.01),
    0px 27px 16px 0px rgba(248, 143, 53, 0.05),
    0px 12px 12px 0px rgba(248, 143, 53, 0.09),
    0px 3px 7px 0px rgba(248, 143, 53, 0.1);
}

.banner__items {
  margin-top: 80px;
  display: flex;
  gap: 16px;
}

.banner__item {
  padding: 40px;
  max-width: 308px;
  width: 100%;
  border-radius: 30px;
  background-color: #f7f7f7;
}

.banner__item img {
  width: 60px;
  height: 60px;
  margin: 0 auto;
}

.banner__item h3 {
  margin-top: 20px;
  color: #2b3233;
  font-family: "Raleway";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.banner__item p {
  margin-top: 16px;
  color: #585858;
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.advantages {
  background-color: #cbeeef;
  border-radius: 60px 60px 0 0;
  padding-top: 140px;
}

.title__section {
  color: #2b3233;
  font-family: "Raleway";
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.advantages__items {
  margin-top: 90px;
  display: flex;
  gap: 16px;
}

.advantages__item {
  padding: 40px;
  border-radius: 30px;
  background-color: #fff;
  width: 416px;
  height: 274px;
}

.advantages__item img {
  width: 60px;
  height: 60px;
  margin: 0 auto;
}

.advantages__item p {
  margin: 20px 0 16px 0;
  color: #2b3233;
  font-family: "Raleway";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.advantages__item span {
  color: #585858;
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.advantages__widget {
  position: relative;
  z-index: 10;
  max-width: 738px;
  margin: 40px auto 0;
  padding: 40px;
  border-radius: 60px;
  background-color: #ffeee0;
}

.advantages__widget-title {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 14px 24px;
  border-radius: 30px;
  border: 2px dashed #cdbcae;
  width: fit-content;
  color: #2b3233;
  font-family: "Raleway";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.advantages__widget p {
  margin: 26px 0 40px 0;
  color: #2b3233;
  font-family: "Inter";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.work {
  margin-top: -180px;
  border-radius: 60px 60px 0 0;
  padding: 310px 0 150px 0;
  background-color: #fff;
}

.work__wrapper {
  display: flex;
  align-items: center;
  gap: 146px;
}

.work__items {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.work__item {
  padding: 38px 86px 40px 115px;
  width: 524px;
  height: 190px;
  background-image: url("../img/work-form.svg");
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.work__item-number {
  position: absolute;
  top: 0;
  left: 0;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #219096;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: "Inter";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.work__item span {
  color: #2b3233;
  font-family: "Raleway";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}

.work__item p {
  color: #2b3233;
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.work__image {
  width: 584px;
  height: 874px;
  overflow: hidden;
}

.work__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.faq {
  padding: 140px 0 160px 0;
  background-color: #f8f8f8;
  border-radius: 60px;
}

.faq__wrapper {
  display: flex;
  justify-content: space-between;
}

.faq__image {
  margin-top: 170px;
  width: 448px;
  height: 456px;
  overflow: hidden;
}

.faq__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.faq__items {
  margin: 90px 0 70px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.faq__item {
  max-width: 740px;
  background-color: #fff;
  border-radius: 24px;
}

.faq__title {
  padding: 26px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #feebdb;
  border-radius: 24px;
  cursor: pointer;
}

.faq__title p {
  max-width: 600px;
  color: #2b3233;
  font-family: "Raleway";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}

.faq__content {
  color: #2b3233;
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.faq__content {
  overflow: hidden;
  max-height: 0;
  transition: all 0.3s ease;
  padding: 0;
}

.faq__item.active .faq__content {
  max-height: 120px !important;
  padding: 26px 40px;
}

.faq__item.active .faq__title {
  background-color: #cbeeef;
}

footer {
  padding: 160px 0;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  display: flex;
  width: 90px;
  height: 70px;
  overflow: hidden;
}

.footer__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer__info p {
  margin-top: 30px;
  color: #2b3233;
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.footer__content span {
  color: #2b3233;
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.footer__content ul {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__content ul li a {
  color: #2b3233;
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.footer__politic {
  transition: 0.4s all;
}

.footer__politic:hover {
  color: #f88f35;
}

.header__mobile {
  display: none;
}

.footer__info {
  max-width: 294px;
}

.politic {
  margin-bottom: 50px;
}

.politic h1 {
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  margin: 30px 0 50px 0;
  font-weight: 700;
}

.politic p {
  font-size: 16px;
  line-height: 24px;
  margin: 10px 0;
}

.politic ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.politic__title {
  font-size: 24px !important;
  line-height: 32px;
  margin: 30px 0 15px 0 !important;
  font-weight: 600;
}

.politic a {
  color: #f88f35;
}

.politic table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}

.politic th,
td {
  padding: 15px;
  text-align: left;
  border: 1px solid #ddd;
}
